name: CI on Branched and PRs

on:
  push:
    branches:
      - 'Feature/Migrate**'
    paths:
      - "src/**"
  pull_request:
    branches:
      - master
    paths:
      - "src/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.2
        with:
          versionSpec: "5.2.x"

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "3.1.x"

      - name: Install dependencies
        run: dotnet restore src/Easify.sln

      - name: Use GitVersion
        id: gitversion # step id used as reference for output values
        uses: gittools/actions/gitversion/execute@v0.9.2

      - run: |
          echo "Version: ${{ steps.gitversion.outputs.semver }}"

      - name: Build & Test with dotnet
        run: |
          dotnet build src/Easify.sln --configuration Release --no-restore -p:version=${{ steps.gitversion.outputs.semver }}

      - name: Unit & integration test
        run: |
          dotnet test src/Easify.sln --configuration Release --no-restore -p:version=${{ steps.gitversion.outputs.semver }}

      - uses: actions/upload-artifact@v2
        with:
          name: nuget-packages
          path: "**/*.nupkg"

      - run: |
          echo "Version: ${{ github.token }}"

      - name: Add GitHub Packages to NuGet Config
        run: dotnet nuget add source https://nuget.pkg.github.com/icgam/index.json -n github -u icgam -p GH_TOKEN --store-password-in-clear-text

      - name: Publish the package to GitHub Packages
        run: dotnet nuget push "**/*.nupkg" -s 'github' --skip-duplicate
